#logo img {
    max-width: 360px;
}

#logo {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(59, 2, 115);
}

#register {
    padding-right: 16px;
    padding-left: 16px;
}

.card-register {
    width: 725px;
    height: flex;
    padding: 10px;
}

.title {
    padding-right: 16px;
    padding-top: 16px;
}

.btn-register {
    margin-top: 5px;
}

#btn-back {
    margin-left: 5px;
}