<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
            <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>



<!--
<mat-card class="card-event mat-elevation-z2">
    <div fxLayout="column" fxLayoutAlign="start start">
        <div class="card-header" fxLayout="row" fxFill>
            <div aling class="card-header-titulo" fxFlex="80">
                <h2>{{title}}</h2>
            </div>
        </div>

        <div class="card-conteudo" fxFill>
            <div fxLayout="row" *ngFor="let event of events">
                <mat-list-item>
                    <mat-divider></mat-divider>
                    <span fxFlex="20"> Theme: {{event.theme}}
                    <br> Place: {{event.place}} </span>
                </mat-list-item>
            </div>
        </div>
    </div>
</mat-card>
-->