<mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled" (click)="invertChecked()">
</mat-slide-toggle>

<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. São Paulo">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="imagemUrl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> imagemUrl </th>
            <td mat-cell *matCellDef="let row">
                <img src="http://localhost:5000/img/{{row.imagemUrl}}">
            </td>
        </ng-container>

        <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Place </th>
            <td mat-cell *matCellDef="let row"> {{row.place}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>

        <ng-container matColumnDef="theme">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Theme </th>
            <td mat-cell *matCellDef="let row"> {{row.theme}} </td>
        </ng-container>

        <ng-container matColumnDef="amountPeople">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> People </th>
            <td mat-cell *matCellDef="let row"> {{row.amountPeople}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>