.card-event {
    height: 100%;
    width: 50%;
    color: black;
    position: center;
}

.card-header-titulo {
    padding: 14px;
}

.card-conteudo {
    padding-top: 10px;
}

.card-conteudo div {
    color: black;
    padding: 8px 12px 0px 12px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}