<div fxFill fxLayoutAlign="center center">
    <form [formGroup]="loginForm">
        <mat-card class="mat-elevation-z6 card-login">
            <div fxLayout="row" fxLayoutAlign="center center" fxFill>
                <div id="logo" class="background-primary" fxLayoutAlign="center center" fxFlex fxFill>
                    <img src="../../../../assets/images/logo.png" />
                </div>
                <div id="login" fxLayout="column" fxLayoutAlign="center start" fxFlex="40">
                    <h2 class="color-primary">Projeto WebAPI</h2>
                    <mat-form-field appearance="legacy" fxFill>
                        <input matInput placeholder="login" formControlName="userName">
                        <mat-icon color="primary" matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" fxFill>
                        <input matInput type="password" placeholder="senha" formControlName="password" [type]="hide?'text':'password'">
                        <button mat-icon-button (click)="checkHide()" color="primary" matSuffix>
                              <span class="material-icons" matSuffix>
                                {{hide?'visibility':'visibility_off'}}
                              </span>
                            </button>
                    </mat-form-field>
                    <button id="btn-login" fxFill mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login()">Entrar</button>
                    <p>Não possui login? Cadastre-se abaixo</p>
                    <button routerLink="/user/register" fxFill color="primary" mat-button>Quero me cadastrar</button>
                </div>
            </div>
        </mat-card>
    </form>
</div>