#navbar-principal {
    position: fixed;
    top: 0;
    z-index: 100;
}

.example-spacer {
    flex: 1 1 auto;
}

#content {
    margin-top: 85px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

img {
    max-width: 90px;
}
