.example-small-box,
.example-large-box {
    display: flex;
    margin: 8px;
    border-radius: 8px;
}

.card-socialNetwork {
    max-width: 50%;
}

.example-tab-icon {
    margin-right: 8px;
    color: #3f51b5;
}

.example-card {
    min-width: 300px;
    width: flex;
}

.button-row {
    margin-top: 8px;
    margin: 8px;
}

mat-option img {
    max-width: 30px;
    margin-top: 15px;
}

div a img {
    max-width: 30px;
    margin-left: 15px;
}

img {
    max-width: 250px;
    max-height: 200px;
    cursor: pointer;
}